
  .cardd {
    background-color: rgb(30, 30, 30, 0.9);
    /* width: 100%; */
    padding: 30px 90px 90px 90px;
    border: 6px solid rgba(0, 0, 0, 0.3);
    box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    position: relative;
  }
  
  .cardd h2 {
    color: rgba(204, 201, 201, 0.3);
    font-size: 60px;
    text-transform: uppercase;
  }
  
  .cardd .roww {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .cardd .roww .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .cardd .roww .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
  }
  
  .cardd .roww .form-group input,
  .cardd .roww .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    border-radius: 50px;
  }
  
  .cardd .roww .form-group label {
    line-height: 40px;
    color: #ffffff;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .roww .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .cardd .roww .form-group input:focus,
  .cardd .roww .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
  }
  
  .cardd .roww input[type="submit"] {
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .cardd .roww input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    transition: all 0.4s;
  }
  
  @media screen and (max-width: 900px) {
    .cardd .roww {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .cardd {
      padding: 20px;
    }
    
    .cardd h2 {
      font-size: 34px;
    }
    
    .cardd .roww input[type="submit"] {
      width: 100%;
    }
  }